mitsui/pipeline/MAESTRAS_CRESTONE.json
{
	"name": "MAESTRAS_CRESTONE",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "MAESTRAS",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"httpRequestTimeout": "00:10:00",
								"url": {
									"value": "@concat('http://190.116.61.84:8065/?name=',item().Extracción)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Truncate Maestras",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DWH].[TRUNCATE_MAESTRAS]"
				},
				"linkedServiceName": {
					"referenceName": "BD_MITSUI",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Metadata Maestros",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Truncate Maestras",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GETMETADATA_CRESTONE",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata Maestros",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Maestros').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPIAR DATA A SQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "ParquetReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ORIGEN_BLOBSTORAGE_CRESTONE",
									"type": "DatasetReference",
									"parameters": {
										"FILENAME": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DESTINO_SQL",
									"type": "DatasetReference",
									"parameters": {
										"TABLA": {
											"value": "@replace(replace(string(item().name),'.parquet',''),'DEV_','')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "vaciar carpeta maestras",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "ForEach2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MAESTROS_CRESTONE",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get Metadata VLCVEHICLE",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Truncate Maestras",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GETMETADATA_CRESTONE_VLCVEHICLE",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			},
			{
				"name": "ForEach2_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata VLCVEHICLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata VLCVEHICLE').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "COPIAR DATA A SQL_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "MATNR",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MATNR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ZZMODELO",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ZZMODELO",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "VGUID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "VGUID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "VHCLE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "VHCLE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CUOBJ",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CUOBJ",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "WERKS",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "WERKS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DBM_BUSTYPE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DBM_BUSTYPE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LGORT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LGORT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "LOCTN",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "LOCTN",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "VHCEX",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "VHCEX",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "AVAIL",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "AVAIL",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "MMSTA",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "MMSTA",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SDSTA",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SDSTA",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "VHVIN",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "VHVIN",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DBM_LICEXT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DBM_LICEXT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ZZNUM_MOTOR",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ZZNUM_MOTOR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ZZANO_FABRICACION",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ZZANO_FABRICACION",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ZZANO_MODELO",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ZZANO_MODELO",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ZZCOLOR_COMERCIAL",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ZZCOLOR_COMERCIAL",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ZZZDESCR_COLOR_COM",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ZZZDESCR_COLOR_COM",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ZZTARJETA_REPSOL",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ZZTARJETA_REPSOL",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "VBLTY",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "VBLTY",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CHARG",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "CHARG",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ZZFECHA_TARJETA_REPSOL",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "zzfecha_tarjeta_repsol",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "VLCVEHICLE1",
									"type": "DatasetReference",
									"parameters": {
										"FILENAME": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DESTINO_SQL",
									"type": "DatasetReference",
									"parameters": {
										"TABLA": {
											"value": "@replace(replace(string(item().name),'.csv',''),'DEV_','')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "vaciar carpeta VLCVEHICLE",
				"type": "Delete",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach2_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "MAESTROS_CRESTONE_VLCVEHICLE",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"annotations": []
	}
}