mitsui/pipeline/PIPELINE GENERAL_MASIVO_BORRAR.json
{
	"name": "PIPELINE GENERAL_MASIVO_BORRAR",
	"properties": {
		"activities": [
			{
				"name": "LP_OBTIENE_FECHA",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT \nreplace(','''',string(pipeline().parameters.FECHA_DESDE),'''',',', '''','-','''',',','''','''',' ) FECHA_DESDE_SAP, ',\n'replace(','''',string(pipeline().parameters.FECHA_HASTA),'''',',', '''','-','''',',','''','''',' ) FECHA_HASTA_SAP ,',\n '''',string(pipeline().parameters.FECHA_DESDE) ,'''', '  FECHA_DESDE,', \n '''',string(pipeline().parameters.FECHA_HASTA) ,'''', '  FECHA_HASTA,', \nstring(pipeline().parameters.Modulo) , '  MODULO from staging.dw_proceso')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DWH_PROCESO",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "TRANSACCIONALES",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "LP_OBTIENE_FECHA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EXTRACCION_TRANSACCIONALES",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FECHA_DESDE": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
							"type": "Expression"
						},
						"FECHA_HASTA": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
							"type": "Expression"
						},
						"ANIO": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
							"type": "Expression"
						},
						"MES": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
							"type": "Expression"
						},
						"TIMESTAMP": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "MAESTRAS",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "LP_OBTIENE_FECHA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "EXTRACCION_MAESTRAS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "TRANSVERSALES",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "TRANSACCIONALES",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "MAESTRAS",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TRANSVERSALES",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FECHA_DESDE": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
							"type": "Expression"
						},
						"FECHA_HASTA": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
							"type": "Expression"
						},
						"TIMESTAMP": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "TOYOTA",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "TRANSVERSALES",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "TOYOTA",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FECHA_INI": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
							"type": "Expression"
						},
						"FECHA_FIN": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "HINO",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "TRANSVERSALES",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "HINO",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FECHA_INI": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
							"type": "Expression"
						},
						"FECHA_FIN": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "LEXUS",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "TRANSVERSALES",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "LEXUS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"FECHA_INI": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
							"type": "Expression"
						},
						"FECHA_FIN": {
							"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Fecha_Desde": {
				"type": "string",
				"defaultValue": "2020-01-01"
			},
			"Fecha_Hasta": {
				"type": "string",
				"defaultValue": "2020-01-01"
			},
			"Modulo": {
				"type": "string",
				"defaultValue": "'FACT'"
			}
		},
		"annotations": []
	}
}