dfmitsui/linkedTemplates/ArmTemplate_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "dfmitsui"
		},
		"EX_DIARIO_properties_PIPELINE GENERAL_parameters_Fecha_Desde": {
			"type": "string",
			"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
		},
		"EX_DIARIO_properties_PIPELINE GENERAL_parameters_Fecha_Hasta": {
			"type": "string",
			"defaultValue": "DATEADD(HOUR,-5,getUTCdate())"
		},
		"EX_DIARIO_properties_PIPELINE GENERAL_parameters_Modulo": {
			"type": "string",
			"defaultValue": "'FACT'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/IG_ZTB_MODEL_CORE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ZTB_MODEL_CORE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MANDT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MODELO",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MODELO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VTEXT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VTEXT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CORE",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CORE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ZTB_MODEL_CORE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DESTINO_SQL",
								"type": "DatasetReference",
								"parameters": {
									"TABLA": "IG_ZTB_MODEL_CORE"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IG_ZTB_RESERVA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ZTB_RESERVA",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MANDT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VKORG",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VKORG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VTWEG",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VTWEG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SPART",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SPART",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WERKS",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "WERKS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BZIRK",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "BZIRK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MATNR",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MATNR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CHARG",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CHARG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PERNR",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PERNR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KUNNR",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "KUNNR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PERIO",
											"type": "Decimal",
											"physicalType": "DECIMAL",
											"scale": 0,
											"precision": 3
										},
										"sink": {
											"name": "PERIO",
											"type": "Decimal",
											"physicalType": "decimal"
										}
									},
									{
										"source": {
											"name": "GJAHR",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "GJAHR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FEC_RESERV",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FEC_RESERV",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CANT",
											"type": "Byte",
											"physicalType": "UINT_8"
										},
										"sink": {
											"name": "CANT",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ZTB_RESERVA",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DESTINO_SQL",
								"type": "DatasetReference",
								"parameters": {
									"TABLA": "IG_ZTB_RESERVA"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IG_ZTDBM_METASMODEL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ZTDBM_METASMODEL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MANDT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MANDT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VKORG",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VKORG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VTWEG",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VTWEG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SPART",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SPART",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WERKS",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "WERKS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZZBZIRK",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ZZBZIRK",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CODIGO",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CODIGO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MODELO",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MODELO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GJAHR",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "GJAHR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MONAT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MONAT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CORE",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CORE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OBJETIVO",
											"type": "Int32",
											"physicalType": "INT_32"
										},
										"sink": {
											"name": "OBJETIVO",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ZZOBJ_ENTREGA",
											"type": "Int32",
											"physicalType": "INT_32"
										},
										"sink": {
											"name": "ZZOBJ_ENTREGA",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "FLAG",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FLAG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ZTDBM_METASMODEL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DESTINO_SQL",
								"type": "DatasetReference",
								"parameters": {
									"TABLA": "IG_ZTDBM_METASMODEL"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IG_ZTSTSTKTOY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ZTSTSTKTOY",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "VGUID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VGUID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CHARG",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CHARG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WERKS",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "WERKS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LGORT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "LGORT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CUOBJ",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CUOBJ",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MMSTA",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MMSTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDSTA",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SDSTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VBLTY",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VBLTY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IN_RECNO",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IN_RECNO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ATINN",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ATINN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ATWRT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ATWRT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ZTSTSTKTOY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DESTINO_SQL",
								"type": "DatasetReference",
								"parameters": {
									"TABLA": "IG_ZTSTSTKTOY_TABLAS"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHAREPOINT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"query": {
									"value": "@concat('$filter=RutaDeAcceso eq ''','/sites/BI-MASA/Documentos%20compartidos/PL%20MASA/Original/''', 'and Nombre eq ''', 'Plan%20Original%202024.xlsx','''')",
									"type": "Expression"
								},
								"httpRequestTimeout": "00:05:00"
							},
							"dataset": {
								"referenceName": "SharePointOnlineListResource1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Web1_copy1",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"Content-Type": "application/x-www-form-urlencoded"
										},
										"url": "https://accounts.accesscontrol.windows.net/c36ebfba-c87f-4847-b182-f9ee332466e6/tokens/OAuth/2",
										"body": "grant_type=client_credentials&client_id=87d4e0d5-3458-4110-a34e-e699775c7c07@c36ebfba-c87f-4847-b182-f9ee332466e6&client_secret=uWQ8Q~j_3S_CKcQdDkNh.EedXkxN0RPeq00gxaY-&resource=00000003-0000-0ff1-ce00-000000000000/mitsuiautomotrizcom.sharepoint.com@c36ebfba-c87f-4847-b182-f9ee332466e6"
									}
								},
								{
									"name": "Copy data1_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Web1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization: Bearer ', activity('Web1_copy1').output.access_token)}",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Binary1",
											"type": "DatasetReference",
											"parameters": {
												"ruta": {
													"value": "@item().rutadeacceso",
													"type": "Expression"
												},
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "receptor_SP",
											"type": "DatasetReference",
											"parameters": {
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHAREPOINT_prueba_2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"query": {
									"value": "@concat('$filter=RutaDeAcceso eq ''','/sites/BI-MASA/Documentos%20compartidos/LOCAL-VENDEDOR/''', 'and Nombre eq ''', 'Pizarra%20Ventas%202020.xlsx','''')",
									"type": "Expression"
								},
								"httpRequestTimeout": "00:05:00"
							},
							"dataset": {
								"referenceName": "SharePointOnlineListResource1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Web1_copy1",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"Content-Type": "application/x-www-form-urlencoded"
										},
										"url": "https://accounts.accesscontrol.windows.net/c36ebfba-c87f-4847-b182-f9ee332466e6/tokens/OAuth/2",
										"body": "grant_type=client_credentials&client_id=87d4e0d5-3458-4110-a34e-e699775c7c07@c36ebfba-c87f-4847-b182-f9ee332466e6&client_secret=uWQ8Q~j_3S_CKcQdDkNh.EedXkxN0RPeq00gxaY-&resource=00000003-0000-0ff1-ce00-000000000000/mitsuiautomotrizcom.sharepoint.com@c36ebfba-c87f-4847-b182-f9ee332466e6"
									}
								},
								{
									"name": "Copy data1_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Web1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization: Bearer ', activity('Web1_copy1').output.access_token)}",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Binary1",
											"type": "DatasetReference",
											"parameters": {
												"ruta": {
													"value": "@item().rutadeacceso",
													"type": "Expression"
												},
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "receptor_SP",
											"type": "DatasetReference",
											"parameters": {
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "vaciar carpeta trx",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CARPETA_TRX",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "vaciar carpeta maestras",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CARPETA_MAESTRAS",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXTRACCION_AUXILIARES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUNCATE AUXILIARES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[TRUNCATE_AUXILIARES]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CADENA_VALOR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_CADENA_VALOR_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_COTIZACIONES_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_COTIZACIONES_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_ENCARGADOS_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_ENCARGADOS_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_PL_MASA_ORIGINAL_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_PL_MASA_ORIGINAL_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_PL_MASA_REVISADO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_PL_MASA_REVISADO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_METAS_TIPO_PAGO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_METAS_TIPO_PAGO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_STATUS_STOCK_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_STATUS_STOCK_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_RESERVAS_HINO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_RESERVAS_HINO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_STOCK_PROY_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_STOCK_PROY_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE GENERAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_TRANSACCIONALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_MAESTRAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "EXTRACCION_AUXILIARES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EXTRACCION_AUXILIARES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_AUXILIARES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "'2024-05-01'"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "'2024-05-23'"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXTRACCION_AUXILIARES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE GENERAL_MANUAL_SIN_STOCK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_TRANSACCIONALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_MAESTRAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "EXTRACCION_AUXILIARES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EXTRACCION_AUXILIARES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_AUXILIARES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "'2024-05-01'"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "'2024-05-31'"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXTRACCION_AUXILIARES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MASIVA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "MASIVA",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "PIPELINE GENERAL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIPELINE GENERAL_MANUAL_SIN_STOCK",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Fecha_Desde": {
												"value": "@item().FECHA_INI",
												"type": "Expression"
											},
											"Fecha_Hasta": {
												"value": "@item().FECHA_FIN",
												"type": "Expression"
											},
											"Modulo": "'FACT'"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PIPELINE GENERAL_MANUAL_SIN_STOCK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EX_DIARIO')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE GENERAL",
							"type": "PipelineReference"
						},
						"parameters": {
							"Fecha_Desde": "[parameters('EX_DIARIO_properties_PIPELINE GENERAL_parameters_Fecha_Desde')]",
							"Fecha_Hasta": "[parameters('EX_DIARIO_properties_PIPELINE GENERAL_parameters_Fecha_Hasta')]",
							"Modulo": "[parameters('EX_DIARIO_properties_PIPELINE GENERAL_parameters_Modulo')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-05-19T12:01:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"minutes": [
								30,
								0
							],
							"hours": [
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								6,
								7,
								8,
								9,
								10,
								11
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PIPELINE GENERAL')]"
			]
		}
	]
}