dfmitsui/linkedTemplates/ArmTemplate_12.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "dfmitsui"
		},
		"EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Fecha_Desde": {
			"type": "string",
			"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
		},
		"EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Fecha_Hasta": {
			"type": "string",
			"defaultValue": "DATEADD(HOUR,-5,getUTCdate())"
		},
		"EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Modulo": {
			"type": "string",
			"defaultValue": "'FACT'"
		},
		"EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Fecha_Desde": {
			"type": "string",
			"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
		},
		"EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Fecha_Hasta": {
			"type": "string",
			"defaultValue": "DATEADD(HOUR,-5,getUTCdate())"
		},
		"EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Modulo": {
			"type": "string",
			"defaultValue": "'FACT'"
		},
		"EX_ARCHIVO_CRES_properties_PIPELINE_POC_parameters_Fecha_Desde": {
			"type": "string",
			"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
		},
		"EX_ARCHIVO_CRES_properties_PIPELINE_POC_parameters_Fecha_Hasta": {
			"type": "string",
			"defaultValue": "DATEADD(HOUR,-5,getUTCdate())"
		},
		"EX_ARCHIVO_CRES_properties_PIPELINE_POC_parameters_Modulo": {
			"type": "string",
			"defaultValue": "'FACT'"
		},
		"EX_ARCHIVO_CRES_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/2b9e0c05-41dc-4652-a897-3f88ff959ac9/resourceGroups/RG_MITSUI/providers/Microsoft.Storage/storageAccounts/mitsui"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/EX_DIARIO_FIN_MES')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE GENERAL",
							"type": "PipelineReference"
						},
						"parameters": {
							"Fecha_Desde": "[parameters('EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Fecha_Desde')]",
							"Fecha_Hasta": "[parameters('EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Fecha_Hasta')]",
							"Modulo": "[parameters('EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Modulo')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2024-05-19T12:01:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"minutes": [
								30,
								0
							],
							"hours": [
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								6,
								7,
								8,
								9,
								10,
								11
							],
							"monthDays": [
								26,
								27,
								28,
								29,
								30,
								31,
								-1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EX_DIARIO_INICIO_MES')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE GENERAL",
							"type": "PipelineReference"
						},
						"parameters": {
							"Fecha_Desde": "[parameters('EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Fecha_Desde')]",
							"Fecha_Hasta": "[parameters('EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Fecha_Hasta')]",
							"Modulo": "[parameters('EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Modulo')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2024-09-16T13:03:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"minutes": [
								0,
								30
							],
							"hours": [
								6,
								7,
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19
							],
							"monthDays": [
								1,
								8,
								15,
								22,
								23,
								16,
								9,
								2,
								3,
								10,
								17,
								24,
								25,
								18,
								11,
								4,
								5,
								19,
								20,
								13,
								12,
								6,
								7,
								14,
								21
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MASIVA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "MASIVA",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "PIPELINE GENERAL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIPELINE GENERAL_MANUAL_SIN_STOCK",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Fecha_Desde": {
												"value": "@item().FECHA_INI",
												"type": "Expression"
											},
											"Fecha_Hasta": {
												"value": "@item().FECHA_FIN",
												"type": "Expression"
											},
											"Modulo": "'FACT'"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EX_ARCHIVO_CRES')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE_POC",
							"type": "PipelineReference"
						},
						"parameters": {
							"Fecha_Desde": "[parameters('EX_ARCHIVO_CRES_properties_PIPELINE_POC_parameters_Fecha_Desde')]",
							"Fecha_Hasta": "[parameters('EX_ARCHIVO_CRES_properties_PIPELINE_POC_parameters_Fecha_Hasta')]",
							"Modulo": "[parameters('EX_ARCHIVO_CRES_properties_PIPELINE_POC_parameters_Modulo')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/dev/blobs/prueba_crestone/TRIGGER",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('EX_ARCHIVO_CRES_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		}
	]
}