dfmitsui/linkedTemplates/ArmTemplate_11.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "dfmitsui"
		},
		"EX_DIARIO_properties_PIPELINE GENERAL_parameters_Fecha_Desde": {
			"type": "string",
			"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
		},
		"EX_DIARIO_properties_PIPELINE GENERAL_parameters_Fecha_Hasta": {
			"type": "string",
			"defaultValue": "getUTCdate()"
		},
		"EX_DIARIO_properties_PIPELINE GENERAL_parameters_Modulo": {
			"type": "string",
			"defaultValue": "'FACT'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/EXTRACCION_AUXILIARES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUNCATE AUXILIARES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[TRUNCATE_AUXILIARES]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CADENA_VALOR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_CADENA_VALOR_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_COTIZACIONES_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_COTIZACIONES_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_ENCARGADOS_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_ENCARGADOS_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_PL_MASA_ORIGINAL_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_PL_MASA_ORIGINAL_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_PL_MASA_REVISADO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_PL_MASA_REVISADO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_METAS_TIPO_PAGO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_METAS_TIPO_PAGO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_STATUS_STOCK_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_STATUS_STOCK_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_RESERVAS_HINO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_RESERVAS_HINO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_STOCK_PROY_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_STOCK_PROY_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE GENERAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_TRANSACCIONALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_MAESTRAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "EXTRACCION_AUXILIARES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EXTRACCION_AUXILIARES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_AUXILIARES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "getUTCdate()"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXTRACCION_AUXILIARES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE GENERAL_MANUAL_SIN_STOCK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_TRANSACCIONALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_MAESTRAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "EXTRACCION_AUXILIARES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EXTRACCION_AUXILIARES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_AUXILIARES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "getUTCdate()"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXTRACCION_AUXILIARES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MASIVA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "MASIVA",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "PIPELINE GENERAL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIPELINE GENERAL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Fecha_Desde": {
												"value": "@item().FECHA_INI",
												"type": "Expression"
											},
											"Fecha_Hasta": {
												"value": "@item().FECHA_FIN",
												"type": "Expression"
											},
											"Modulo": "'FACT'"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PIPELINE GENERAL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EX_DIARIO')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE GENERAL",
							"type": "PipelineReference"
						},
						"parameters": {
							"Fecha_Desde": "[parameters('EX_DIARIO_properties_PIPELINE GENERAL_parameters_Fecha_Desde')]",
							"Fecha_Hasta": "[parameters('EX_DIARIO_properties_PIPELINE GENERAL_parameters_Fecha_Hasta')]",
							"Modulo": "[parameters('EX_DIARIO_properties_PIPELINE GENERAL_parameters_Modulo')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 30,
						"startTime": "2024-05-20T12:01:00",
						"timeZone": "SA Pacific Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PIPELINE GENERAL')]"
			]
		}
	]
}