dfmitsui/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "dfmitsui"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ZTDBM_METASMODEL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DEV_IG_ZTDBM_METASMODEL.parquet",
						"folderPath": "productivo/PRD/TRASACCIONAL",
						"container": "dev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "UTF8"
					},
					{
						"name": "SPRAS",
						"type": "UTF8"
					},
					{
						"name": "MATKL",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ60",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ZTSTSTKTOY')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DEV_IG_ZTSTSTKTOY_TABLAS.parquet",
						"folderPath": "productivo/PRD/MAESTROS",
						"container": "dev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "VGUID",
						"type": "UTF8"
					},
					{
						"name": "CUOBJ",
						"type": "UTF8"
					},
					{
						"name": "CHARG",
						"type": "UTF8"
					},
					{
						"name": "ZOBTARREP",
						"type": "UTF8"
					},
					{
						"name": "ZPETARREP",
						"type": "UTF8"
					},
					{
						"name": "ZDESCOLOR",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ZTSTSTKTOY_PRUEBA')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "DEV_IG_ZTSTSKTOY_PRUEBA.parquet",
						"folderPath": "productivo/QAS/TRANSACCIONAL",
						"container": "dev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "VGUID",
						"type": "UTF8"
					},
					{
						"name": "CUOBJ",
						"type": "UTF8"
					},
					{
						"name": "CHARG",
						"type": "UTF8"
					},
					{
						"name": "ZOBTARREP",
						"type": "UTF8"
					},
					{
						"name": "ZPETARREP",
						"type": "UTF8"
					},
					{
						"name": "ZDESCOLOR",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/cotizaciones_lexus_acum')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_MITSUI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "STAGING",
					"table": "AUX_COTIZACIONES_LEXUS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/receptor')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"archivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().archivo",
							"type": "Expression"
						},
						"folderPath": "Archivos Planos",
						"container": "dev"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/receptor_COTIZACIONES')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"archivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().archivo",
							"type": "Expression"
						},
						"folderPath": "Archivos Planos/Cotizaciones",
						"container": "dev"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/receptor_PL_MASA_ORIGINAL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"archivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().archivo",
							"type": "Expression"
						},
						"folderPath": "Archivos Planos/PL_MASA_ORIGINAL",
						"container": "dev"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/receptor_PL_MASA_REVISADO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"archivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().archivo",
							"type": "Expression"
						},
						"folderPath": "Archivos Planos/PL_MASA_REVISADO",
						"container": "dev"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/receptor_RESERVAS_HINO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"archivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().archivo",
							"type": "Expression"
						},
						"folderPath": "Archivos Planos/Reservas_Hino",
						"container": "dev"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/receptor_SP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"archivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().archivo",
							"type": "Expression"
						},
						"folderPath": "Archivos Planos",
						"container": "dev"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/receptor_STATUS_STSOCK')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"archivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().archivo",
							"type": "Expression"
						},
						"folderPath": "Archivos Planos/Status_Stock",
						"container": "dev"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/receptor_STOCK_PROYECCION')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"archivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().archivo",
							"type": "Expression"
						},
						"folderPath": "Archivos Planos/Stock_Proyeccion",
						"container": "dev"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/status_stock_lexus_acum')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "BD_MITSUI",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "STAGING",
					"table": "AUX_STATUS_STOCK_LEXUS"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MAESTROS_CRESTONE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "crestone/MAESTROS",
						"container": "dev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "UTF8"
					},
					{
						"name": "SPRAS",
						"type": "UTF8"
					},
					{
						"name": "MATKL",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ60",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GETMETADATA_CRESTONE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "crestone/MAESTROS",
						"container": "dev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "UTF8"
					},
					{
						"name": "SPRAS",
						"type": "UTF8"
					},
					{
						"name": "MATKL",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ60",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ORIGEN_BLOBSTORAGE_CRESTONE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FILENAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FILENAME",
							"type": "Expression"
						},
						"folderPath": "crestone/MAESTROS",
						"container": "dev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "UTF8"
					},
					{
						"name": "SPRAS",
						"type": "UTF8"
					},
					{
						"name": "MATKL",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ60",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GETMETADATA_TRANSACCIONAL_CRESTONE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "crestone/TRANSACCIONALES",
						"container": "dev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "UTF8"
					},
					{
						"name": "SPRAS",
						"type": "UTF8"
					},
					{
						"name": "MATKL",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ60",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ORIGEN_BLOBSTORAGE_TRX_CRESTONE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"FILENAME": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().FILENAME",
							"type": "Expression"
						},
						"folderPath": "crestone/TRANSACCIONALES",
						"container": "dev"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "MANDT",
						"type": "UTF8"
					},
					{
						"name": "SPRAS",
						"type": "UTF8"
					},
					{
						"name": "MATKL",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ",
						"type": "UTF8"
					},
					{
						"name": "WGBEZ60",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUX_CADENA_VALOR_SHAREPOINT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"query": {
									"value": "@concat('$filter=RutaDeAcceso eq ''','/sites/BI-MASA/Documentos%20compartidos/1.%20TOYOTA/Cadena%20de%20Valor/''','and Nombre eq ''', 'Cadena%20de%20Valor.xlsx','''')",
									"type": "Expression"
								},
								"httpRequestTimeout": "00:05:00"
							},
							"dataset": {
								"referenceName": "SharePointOnlineListResource1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Web1_copy1",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"Content-Type": "application/x-www-form-urlencoded"
										},
										"url": "https://accounts.accesscontrol.windows.net/c36ebfba-c87f-4847-b182-f9ee332466e6/tokens/OAuth/2",
										"body": {
											"value": "@concat('grant_type=client_credentials&client_id=87d4e0d5-3458-4110-a34e-e699775c7c07@c36ebfba-c87f-4847-b182-f9ee332466e6&client_secret=l._8Q~eDBlA.ZlL25ArDLhge23jwWkVdXDYyDba','g&resource=00000003-0000-0ff1-ce00-000000000000/mitsuiautomotrizcom.sharepoint.com@c36ebfba-c87f-4847-b182-f9ee332466e6')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Copy data1_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Web1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization: Bearer ', activity('Web1_copy1').output.access_token)}",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Binary1",
											"type": "DatasetReference",
											"parameters": {
												"ruta": {
													"value": "@item().rutadeacceso",
													"type": "Expression"
												},
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "receptor",
											"type": "DatasetReference",
											"parameters": {
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "CAD_VAL_TOYOTA_VALUE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "LOCAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "LOCAL",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "REAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "REAL",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "META_TDP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "META_TDP",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "META_MASA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "META_MASA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CAD_VAL_TOYOTA_VALUE",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DESTINO_SQL",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": "AUX_CAD_VAL_TOYOTA_VALUE"
											}
										}
									]
								},
								{
									"name": "CAD_VAL_EPDP",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "RESULTADO",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "RESULTADO",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "META_TDP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "META_TDP",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "META_MASA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "META_MASA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CAD_VAL_EPDP",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DESTINO_SQL",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": "AUX_CAD_VAL_EPDP"
											}
										}
									]
								},
								{
									"name": "CAD_VAL_MET_TOYOTA_LIFE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "LOCAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "LOCAL",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "TDP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "TDP",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "MASA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "MASA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CAD_VAL_MET_TOYOTA_LIFE",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DESTINO_SQL",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": "AUX_CAD_VAL_MET_TOYOTA_LIFE"
											}
										}
									]
								},
								{
									"name": "CAD_VAL_SEGUROS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "LOCAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "LOCAL",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "REAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "REAL",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "META_TDP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "META_TDP",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "META_MASA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "META_MASA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CAD_VAL_SEGUROS",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DESTINO_SQL",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": "AUX_CAD_VAL_SEGUROS"
											}
										}
									]
								},
								{
									"name": "CAD_VAL_TOYOTA_LIFE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "LOCAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "LOCAL",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "HOT",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "HOT",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SEGURA ",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SEGURA ",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "TOTAL_GENERAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "TOTAL_GENERAL",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CAD_VAL_TOYOTA_LIFE",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DESTINO_SQL",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": "AUX_CAD_VAL_TOYOTA_LIFE"
											}
										}
									]
								},
								{
									"name": "CAD_VAL_VENTA_REG",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Copy data1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "FECHA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "VR_META_TDP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "VR_META_TDP",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "VR_RESULTADO",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "VR_RESULTADO",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "VR_PORCENTAJE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "VR_PORCENTAJE",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "TD_META_TDP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "TD_META_TDP",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "TD_META_MASA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "TD_META_MASA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "TD_RESULTADO",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "TD_RESULTADO",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "CD_META_TDP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CD_META_TDP",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "CD_RESULTADO",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CD_RESULTADO",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "RENOV_META_TDP",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "RENOV_META_TDP",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "RENOV_RESULTADO",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "RENOV_RESULTADO",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "CAD_VAL_VENTA_REG",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DESTINO_SQL",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": "AUX_CAD_VAL_VENTA_REG"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/receptor')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUX_CAD_TOYOTA_VALUE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CAD_VAL_TOYOTA_VALUE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "FECHA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FECHA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOCAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LOCAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "REAL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "META_TDP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "META_TDP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "META_MASA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "META_MASA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CAD_VAL_TOYOTA_VALUE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DESTINO_SQL",
								"type": "DatasetReference",
								"parameters": {
									"TABLA": "AUX_CAD_VAL_TOYOTA_VALUE"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}