dfmitsui/linkedTemplates/ArmTemplate_8.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "dfmitsui"
		},
		"EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Fecha_Desde": {
			"type": "string",
			"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
		},
		"EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Fecha_Hasta": {
			"type": "string",
			"defaultValue": "DATEADD(HOUR,-5,getUTCdate())"
		},
		"EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Modulo": {
			"type": "string",
			"defaultValue": "'FACT'"
		},
		"EX_ARCHIVO_CRES_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/2b9e0c05-41dc-4652-a897-3f88ff959ac9/resourceGroups/RG_MITSUI/providers/Microsoft.Storage/storageAccounts/mitsui"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AUX_STATUS_STOCK_LEXUS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "STATUS_STOCK_LEXUS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CBU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CBU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MODELO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MODELO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COD_EXT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COD_EXT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COLOR_EXT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COLOR_EXT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COD_INT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COD_INT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "COLOR_INT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "COLOR_INT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FAB",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FAB",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MOD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MOD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PROPIETARIO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PROPIETARIO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STATUS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CLIENTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CLIENTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VENDEDOR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VENDEDOR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FECHA_ARRIBO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FECHA_ARRIBO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "UBICACION",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UBICACION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "REPORTABLE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "REPORTABLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EPDP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EPDP",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FECHA_CARGA",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FECHA_CARGA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "AUX_STATUS_STOCK_LEXUS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DESTINO_SQL",
								"type": "DatasetReference",
								"parameters": {
									"TABLA": "AUX_STATUS_STOCK_LEXUS"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUX_STATUS_STOCK_SHAREPOINT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"query": {
									"value": "@concat('$filter=RutaDeAcceso eq ''','/sites/BI-MASA/Documentos%20compartidos/3.%20LEXUS/STOCK%20LEXUS/Stock%20TDP/','''')",
									"type": "Expression"
								},
								"httpRequestTimeout": "00:05:00"
							},
							"dataset": {
								"referenceName": "SharePointOnlineListResource1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Web1_copy1",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"Content-Type": "application/x-www-form-urlencoded"
										},
										"url": "https://accounts.accesscontrol.windows.net/c36ebfba-c87f-4847-b182-f9ee332466e6/tokens/OAuth/2",
										"body": {
											"value": "@concat('grant_type=client_credentials&client_id=87d4e0d5-3458-4110-a34e-e699775c7c07@c36ebfba-c87f-4847-b182-f9ee332466e6&client_secret=l._8Q~eDBlA.ZlL25ArDLhge23jwWkVdXDYyDba','g&resource=00000003-0000-0ff1-ce00-000000000000/mitsuiautomotrizcom.sharepoint.com@c36ebfba-c87f-4847-b182-f9ee332466e6')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SHAREPOINT AZURE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Web1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization: Bearer ', activity('Web1_copy1').output.access_token)}",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Binary1",
											"type": "DatasetReference",
											"parameters": {
												"ruta": {
													"value": "@item().rutadeacceso",
													"type": "Expression"
												},
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "receptor_STATUS_STSOCK",
											"type": "DatasetReference",
											"parameters": {
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "AZURE SQL",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "SHAREPOINT AZURE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "STATUS_STOCK_LEXUS",
											"type": "DatasetReference",
											"parameters": {
												"File": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "status_stock_lexus_acum",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUX_STOCK_PROY_SHAREPOINT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"query": {
									"value": "@concat('$filter=RutaDeAcceso eq ''','/sites/BI-MASA/Documentos%20compartidos/3.%20LEXUS/STOCK%20LEXUS/Stock%20Status-Proyección/','''')",
									"type": "Expression"
								},
								"httpRequestTimeout": "00:05:00"
							},
							"dataset": {
								"referenceName": "SharePointOnlineListResource1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Web1_copy1",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"Content-Type": "application/x-www-form-urlencoded"
										},
										"url": "https://accounts.accesscontrol.windows.net/c36ebfba-c87f-4847-b182-f9ee332466e6/tokens/OAuth/2",
										"body": {
											"value": "@concat('grant_type=client_credentials&client_id=87d4e0d5-3458-4110-a34e-e699775c7c07@c36ebfba-c87f-4847-b182-f9ee332466e6&client_secret=l._8Q~eDBlA.ZlL25ArDLhge23jwWkVdXDYyDba','g&resource=00000003-0000-0ff1-ce00-000000000000/mitsuiautomotrizcom.sharepoint.com@c36ebfba-c87f-4847-b182-f9ee332466e6')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "SHAREPOINT AZURE",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Web1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization: Bearer ', activity('Web1_copy1').output.access_token)}",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Binary1",
											"type": "DatasetReference",
											"parameters": {
												"ruta": {
													"value": "@item().rutadeacceso",
													"type": "Expression"
												},
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "receptor_STOCK_PROYECCION",
											"type": "DatasetReference",
											"parameters": {
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "STOCK_PROY_LEXUS",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "SHAREPOINT AZURE",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ExcelSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "Modelo",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Modelo",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "fecha",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "fecha",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Inventario Inicial",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Inventario Inicial",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Facturado",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Facturado",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Llegadas Siguiente Mes",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Llegadas Siguiente Mes",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Inventario Inicial Siguiente Mes",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Inventario Inicial Siguiente Mes",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Reservado",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Reservado",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "MOS",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "MOS",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "Meta Siguiente Mes",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "Meta Siguiente Mes",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "AUX_STOCK_LEXUS",
											"type": "DatasetReference",
											"parameters": {
												"File": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DESTINO_SQL",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": "AUX_STOCK_LEXUS"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUX_VENDEDORES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Vendedores",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Vendedor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vendedor",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Codigo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Codigo",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Sede",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Sede",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Vendedores",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DESTINO_SQL",
								"type": "DatasetReference",
								"parameters": {
									"TABLA": "AUX_VENDEDORES"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IG_VLCVEHICLE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VLCVEHICLE",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MATNR",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MATNR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZZMODELO",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ZZMODELO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VGUID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VGUID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VHCLE",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VHCLE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CUOBJ",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CUOBJ",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WERKS",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "WERKS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DBM_BUSTYPE",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DBM_BUSTYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LGORT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "LGORT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LOCTN",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "LOCTN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VHCEX",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VHCEX",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "AVAIL",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "AVAIL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MMSTA",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MMSTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDSTA",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SDSTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VHVIN",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VHVIN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DBM_LICEXT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DBM_LICEXT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZZNUM_MOTOR",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ZZNUM_MOTOR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZZANO_FABRICACION",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ZZANO_FABRICACION",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZZANO_MODELO",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ZZANO_MODELO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZZCOLOR_COMERCIAL",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ZZCOLOR_COMERCIAL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZZZDESCR_COLOR_COM",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ZZZDESCR_COLOR_COM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZZTARJETA_REPSOL",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ZZTARJETA_REPSOL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VBLTY",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VBLTY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CHARG",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CHARG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "VLCVEHICLE",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DESTINO_SQL",
								"type": "DatasetReference",
								"parameters": {
									"TABLA": "IG_VLCVEHICLE"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IG_ZTSTSTKTOY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ZTSTSTKTOY",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "VGUID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VGUID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CHARG",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CHARG",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WERKS",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "WERKS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "LGORT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "LGORT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CUOBJ",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CUOBJ",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MMSTA",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MMSTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SDSTA",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SDSTA",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "VBLTY",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VBLTY",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IN_RECNO",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IN_RECNO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ATINN",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ATINN",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ATWRT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ATWRT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ZTSTSTKTOY",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DESTINO_SQL",
								"type": "DatasetReference",
								"parameters": {
									"TABLA": "IG_ZTSTSTKTOY_TABLAS"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MAESTRAS_CRESTONE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "MAESTRAS",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"batchCount": 2,
							"activities": [
								{
									"name": "Web1",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"httpRequestTimeout": "00:10:00",
										"url": {
											"value": "@concat('http://190.116.61.84:8065/?name=',item().Extracción)",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncate Maestras",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[TRUNCATE_MAESTRAS]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get Metadata Maestros",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Truncate Maestras",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "GETMETADATA_CRESTONE",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "ParquetReadSettings"
							}
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata Maestros",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata Maestros').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "COPIAR DATA A SQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ORIGEN_BLOBSTORAGE_CRESTONE",
											"type": "DatasetReference",
											"parameters": {
												"FILENAME": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DESTINO_SQL",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": {
													"value": "@replace(replace(string(item().name),'.parquet',''),'DEV_','')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "vaciar carpeta maestras",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ForEach2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "MAESTROS_CRESTONE",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Get Metadata VLCVEHICLE",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Truncate Maestras",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "GETMETADATA_CRESTONE_VLCVEHICLE",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "ParquetReadSettings"
							}
						}
					},
					{
						"name": "ForEach2_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata VLCVEHICLE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata VLCVEHICLE').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "COPIAR DATA A SQL_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "MATNR",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "MATNR",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ZZMODELO",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ZZMODELO",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "VGUID",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "VGUID",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "VHCLE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "VHCLE",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "CUOBJ",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CUOBJ",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "WERKS",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "WERKS",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "DBM_BUSTYPE",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DBM_BUSTYPE",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "LGORT",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "LGORT",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "LOCTN",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "LOCTN",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "VHCEX",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "VHCEX",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "AVAIL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "AVAIL",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "MMSTA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "MMSTA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "SDSTA",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "SDSTA",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "VHVIN",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "VHVIN",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "DBM_LICEXT",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "DBM_LICEXT",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ZZNUM_MOTOR",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ZZNUM_MOTOR",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ZZANO_FABRICACION",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ZZANO_FABRICACION",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ZZANO_MODELO",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ZZANO_MODELO",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ZZCOLOR_COMERCIAL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ZZCOLOR_COMERCIAL",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ZZZDESCR_COLOR_COM",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ZZZDESCR_COLOR_COM",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ZZTARJETA_REPSOL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ZZTARJETA_REPSOL",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "VBLTY",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "VBLTY",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "CHARG",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "CHARG",
														"type": "String",
														"physicalType": "nvarchar"
													}
												},
												{
													"source": {
														"name": "ZZFECHA_TARJETA_REPSOL",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "zzfecha_tarjeta_repsol",
														"type": "String",
														"physicalType": "nvarchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "VLCVEHICLE1",
											"type": "DatasetReference",
											"parameters": {
												"FILENAME": "@item().name"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DESTINO_SQL",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": {
													"value": "@replace(replace(string(item().name),'.csv',''),'DEV_','')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "vaciar carpeta VLCVEHICLE",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ForEach2_copy1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "MAESTROS_CRESTONE_VLCVEHICLE",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHAREPOINT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"query": {
									"value": "@concat('$filter=RutaDeAcceso eq ''','/sites/BI-MASA/Documentos%20compartidos/PL%20MASA/Original/''', 'and Nombre eq ''', 'Plan%20Original%202024.xlsx','''')",
									"type": "Expression"
								},
								"httpRequestTimeout": "00:05:00"
							},
							"dataset": {
								"referenceName": "SharePointOnlineListResource1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Web1_copy1",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "POST",
										"headers": {
											"Content-Type": "application/x-www-form-urlencoded"
										},
										"url": "https://accounts.accesscontrol.windows.net/c36ebfba-c87f-4847-b182-f9ee332466e6/tokens/OAuth/2",
										"body": "grant_type=client_credentials&client_id=87d4e0d5-3458-4110-a34e-e699775c7c07@c36ebfba-c87f-4847-b182-f9ee332466e6&client_secret=uWQ8Q~j_3S_CKcQdDkNh.EedXkxN0RPeq00gxaY-&resource=00000003-0000-0ff1-ce00-000000000000/mitsuiautomotrizcom.sharepoint.com@c36ebfba-c87f-4847-b182-f9ee332466e6"
									}
								},
								{
									"name": "Copy data1_copy1",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "Web1_copy1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('Authorization: Bearer ', activity('Web1_copy1').output.access_token)}",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Binary1",
											"type": "DatasetReference",
											"parameters": {
												"ruta": {
													"value": "@item().rutadeacceso",
													"type": "Expression"
												},
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "receptor_SP",
											"type": "DatasetReference",
											"parameters": {
												"archivo": {
													"value": "@item().Nombre",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRANSACCIONALES_CRESTONE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "TRANSACCIONALES",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"batchCount": 2,
							"activities": [
								{
									"name": "Web1",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"httpRequestTimeout": "00:10:00",
										"url": {
											"value": "@concat('http://190.116.61.84:8065/?name=',item().Extracción,\n'&FECHAINI=',pipeline().parameters.FECHA_DESDE,\n'&FECHAFIN=',pipeline().parameters.FECHA_HASTA,\n'&ANIO=',pipeline().parameters.ANIO,\n'&MES=',pipeline().parameters.MES,\n'&TIMESTAMP=',pipeline().parameters.TIMESTAMP)",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "Truncate Transaccionales",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[TRUNCATE_TRANSACCIONALES]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get Metadata transaccionales",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Truncate Transaccionales",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "GETMETADATA_TRANSACCIONAL_CRESTONE",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "ParquetReadSettings"
							}
						}
					},
					{
						"name": "ForEach2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata transaccionales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata transaccionales').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "COPIAR DATA A SQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "ParquetReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false,
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ORIGEN_BLOBSTORAGE_TRX_CRESTONE",
											"type": "DatasetReference",
											"parameters": {
												"FILENAME": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DESTINO_SQL",
											"type": "DatasetReference",
											"parameters": {
												"TABLA": {
													"value": "@replace(replace(string(item().name),'.parquet',''),'DEV_','')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "vaciar carpeta trx",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "ForEach2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CARPETA_TRX_CRESTONE",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FECHA_DESDE": {
						"type": "string"
					},
					"FECHA_HASTA": {
						"type": "string"
					},
					"ANIO": {
						"type": "string"
					},
					"MES": {
						"type": "string"
					},
					"TIMESTAMP": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXTRACCION_AUXILIARES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUNCATE AUXILIARES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[TRUNCATE_AUXILIARES]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CADENA_VALOR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_CADENA_VALOR_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_COTIZACIONES_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_COTIZACIONES_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_ENCARGADOS_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_ENCARGADOS_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_PL_MASA_ORIGINAL_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_PL_MASA_ORIGINAL_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_PL_MASA_REVISADO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_PL_MASA_REVISADO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_METAS_TIPO_PAGO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_METAS_TIPO_PAGO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_STATUS_STOCK_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_STATUS_STOCK_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_RESERVAS_HINO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_RESERVAS_HINO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_STOCK_PROY_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_STOCK_PROY_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/AUX_STATUS_STOCK_SHAREPOINT')]",
				"[concat(variables('factoryId'), '/pipelines/AUX_STOCK_PROY_SHAREPOINT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_CRESTONE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSACCIONALES_CRESTONE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MAESTRAS_CRESTONE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "'2024-05-01'"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "'2024-05-23'"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/TRANSACCIONALES_CRESTONE')]",
				"[concat(variables('factoryId'), '/pipelines/MAESTRAS_CRESTONE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_CRESTONE_MANUAL_SIN_STOCK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSACCIONALES_CRESTONE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MAESTRAS_CRESTONE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "'2025-12-01'"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "'2025-12-31'"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/TRANSACCIONALES_CRESTONE')]",
				"[concat(variables('factoryId'), '/pipelines/MAESTRAS_CRESTONE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUXILIARES_SHAREPOINT')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "EXTRACCION_AUXILIARES",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-10-09T19:16:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8,
								14,
								20
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXTRACCION_AUXILIARES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EX_ARCHIVO_CRES')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE_CRESTONE",
							"type": "PipelineReference"
						},
						"parameters": {
							"Fecha_Desde": "[parameters('EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Fecha_Desde')]",
							"Fecha_Hasta": "[parameters('EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Fecha_Hasta')]",
							"Modulo": "[parameters('EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Modulo')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/dev/blobs/CRESTONE/TRIGGER",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('EX_ARCHIVO_CRES_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PIPELINE_CRESTONE')]"
			]
		}
	]
}