dfmitsui/linkedTemplates/ArmTemplate_12.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "dfmitsui"
		},
		"EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Fecha_Desde": {
			"type": "string",
			"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
		},
		"EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Fecha_Hasta": {
			"type": "string",
			"defaultValue": "DATEADD(HOUR,-5,getUTCdate())"
		},
		"EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Modulo": {
			"type": "string",
			"defaultValue": "'FACT'"
		},
		"EX_ARCHIVO_CRES_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/2b9e0c05-41dc-4652-a897-3f88ff959ac9/resourceGroups/RG_MITSUI/providers/Microsoft.Storage/storageAccounts/mitsui"
		},
		"EX_DIARIO_7AM_properties_PIPELINE GENERAL_parameters_Fecha_Desde": {
			"type": "string",
			"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
		},
		"EX_DIARIO_7AM_properties_PIPELINE GENERAL_parameters_Fecha_Hasta": {
			"type": "string",
			"defaultValue": "DATEADD(HOUR,-5,getUTCdate())"
		},
		"EX_DIARIO_7AM_properties_PIPELINE GENERAL_parameters_Modulo": {
			"type": "string",
			"defaultValue": "'FACT'"
		},
		"EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Fecha_Desde": {
			"type": "string",
			"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
		},
		"EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Fecha_Hasta": {
			"type": "string",
			"defaultValue": "DATEADD(HOUR,-5,getUTCdate())"
		},
		"EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Modulo": {
			"type": "string",
			"defaultValue": "'FACT'"
		},
		"EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Fecha_Desde": {
			"type": "string",
			"defaultValue": "dateadd(dd ,1 ,eomonth(DATEADD(HOUR,-5,getUTCdate()),-1))"
		},
		"EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Fecha_Hasta": {
			"type": "string",
			"defaultValue": "DATEADD(HOUR,-5,getUTCdate())"
		},
		"EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Modulo": {
			"type": "string",
			"defaultValue": "'FACT'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "vaciar carpeta trx",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CARPETA_TRX",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "vaciar carpeta maestras",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CARPETA_MAESTRAS",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "VACIAR AUXILIAR COTIZACIONES",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CARPETA_AUXILIAR",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXTRACCION_AUXILIARES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "TRUNCATE AUXILIARES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[TRUNCATE_AUXILIARES]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CADENA_VALOR",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_CADENA_VALOR_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_COTIZACIONES_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_COTIZACIONES_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_ENCARGADOS_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_ENCARGADOS_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_PL_MASA_ORIGINAL_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_PL_MASA_ORIGINAL_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_PL_MASA_REVISADO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_PL_MASA_REVISADO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_METAS_TIPO_PAGO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_METAS_TIPO_PAGO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_STATUS_STOCK_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_STATUS_STOCK_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_RESERVAS_HINO_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_RESERVAS_HINO_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "AUX_STOCK_PROY_SHAREPOINT",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRUNCATE AUXILIARES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "AUX_STOCK_PROY_SHAREPOINT",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE GENERAL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_TRANSACCIONALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_MAESTRAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "'2024-05-01'"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "'2024-05-23'"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_CRESTONE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSACCIONALES_CRESTONE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MAESTRAS_CRESTONE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "'2024-05-01'"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "'2024-05-23'"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE GENERAL_MANUAL_SIN_STOCK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_TRANSACCIONALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_MAESTRAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "EXTRACCION_AUXILIARES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EXTRACCION_AUXILIARES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_AUXILIARES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "'2025-03-01'"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "'2025-03-11'"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXTRACCION_AUXILIARES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIPELINE_CRESTONE_MANUAL_SIN_STOCK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSACCIONALES_CRESTONE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "MAESTRAS_CRESTONE",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "EXTRACCION_AUXILIARES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EXTRACCION_AUXILIARES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_AUXILIARES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "'2025-02-01'"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "'2025-02-17'"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXTRACCION_AUXILIARES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRUEBA_BORRAR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LP_OBTIENE_FECHA",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('SELECT \nSUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10) AS FECHA_DESDE\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'','''') AS FECHA_DESDE_SAP\n,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10),''-'','''') AS FECHA_HASTA_SAP\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,10) AS FECHA_HASTA\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),1,4) AS ANIO\n,SUBSTRING(CONVERT(VARCHAR,FECHA_HASTA,120),6,2) AS MES\n, CONVERT(BIGINT,REPLACE(SUBSTRING(CONVERT(VARCHAR,FECHA_DESDE,120),1,10),''-'',''''))*1000000 AS TIMESTAMP\n,SUBSTRING(CONVERT(VARCHAR,DATEADD(HOUR,-5,getUTCdate()),120),1,19) AS FECHA_ACTUALIZACION\n\nFROM (SELECT \n',string(pipeline().parameters.Fecha_Desde), ' AS FECHA_DESDE ,\n',string(pipeline().parameters.Fecha_Hasta), ' AS FECHA_HASTA , \n',string(pipeline().parameters.Modulo) , ' AS MODULO from staging.dw_proceso) R' )",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DWH_PROCESO",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "TRANSACCIONALES",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_TRANSACCIONALES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE_SAP",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA_SAP",
									"type": "Expression"
								},
								"ANIO": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.ANIO",
									"type": "Expression"
								},
								"MES": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.MES",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "MAESTRAS",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_MAESTRAS",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TRANSVERSALES",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "TRANSACCIONALES",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "MAESTRAS",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "EXTRACCION_AUXILIARES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TRANSVERSALES_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_DESDE": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_HASTA": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_HASTA",
									"type": "Expression"
								},
								"TIMESTAMP": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.TIMESTAMP",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "TOYOTA",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TOYOTA_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "HINO",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "HINO_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "LEXUS",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "TRANSVERSALES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "LEXUS_SIN_STOCK",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"FECHA_INI": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_DESDE",
									"type": "Expression"
								},
								"FECHA_FIN": {
									"value": "@activity('LP_OBTIENE_FECHA').output.firstRow.FECHA_HASTA",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "FECHA_ACTUALIZACION",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FECHA_HORA_ACTUALIZACION]",
							"storedProcedureParameters": {
								"FECHA_ACTUALIZACION": {
									"value": {
										"value": "@activity('LP_OBTIENE_FECHA').output.firstrow.FECHA_ACTUALIZACION",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "EXTRACCION_AUXILIARES",
						"type": "ExecutePipeline",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "LP_OBTIENE_FECHA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "EXTRACCION_AUXILIARES",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Fecha_Desde": {
						"type": "string",
						"defaultValue": "'2024-07-01'"
					},
					"Fecha_Hasta": {
						"type": "string",
						"defaultValue": "'2024-07-31'"
					},
					"Modulo": {
						"type": "string",
						"defaultValue": "'FACT'"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXTRACCION_AUXILIARES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUXILIARES_SHAREPOINT')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "EXTRACCION_AUXILIARES",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2024-10-09T19:16:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								8,
								14,
								20
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/EXTRACCION_AUXILIARES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EX_ARCHIVO_CRES')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE_CRESTONE",
							"type": "PipelineReference"
						},
						"parameters": {
							"Fecha_Desde": "[parameters('EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Fecha_Desde')]",
							"Fecha_Hasta": "[parameters('EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Fecha_Hasta')]",
							"Modulo": "[parameters('EX_ARCHIVO_CRES_properties_PIPELINE_CRESTONE_parameters_Modulo')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/dev/blobs/CRESTONE/TRIGGER",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('EX_ARCHIVO_CRES_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PIPELINE_CRESTONE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EX_DIARIO_7AM')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE GENERAL",
							"type": "PipelineReference"
						},
						"parameters": {
							"Fecha_Desde": "[parameters('EX_DIARIO_7AM_properties_PIPELINE GENERAL_parameters_Fecha_Desde')]",
							"Fecha_Hasta": "[parameters('EX_DIARIO_7AM_properties_PIPELINE GENERAL_parameters_Fecha_Hasta')]",
							"Modulo": "[parameters('EX_DIARIO_7AM_properties_PIPELINE GENERAL_parameters_Modulo')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2025-02-19T16:26:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PIPELINE GENERAL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EX_DIARIO_FIN_MES')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE GENERAL",
							"type": "PipelineReference"
						},
						"parameters": {
							"Fecha_Desde": "[parameters('EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Fecha_Desde')]",
							"Fecha_Hasta": "[parameters('EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Fecha_Hasta')]",
							"Modulo": "[parameters('EX_DIARIO_FIN_MES_properties_PIPELINE GENERAL_parameters_Modulo')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2024-05-19T12:01:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"minutes": [
								30,
								0
							],
							"hours": [
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19,
								20,
								21,
								22,
								23,
								6,
								7,
								8,
								9,
								10,
								11
							],
							"monthDays": [
								26,
								27,
								28,
								29,
								30,
								31,
								-1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PIPELINE GENERAL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/EX_DIARIO_INICIO_MES')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PIPELINE GENERAL",
							"type": "PipelineReference"
						},
						"parameters": {
							"Fecha_Desde": "[parameters('EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Fecha_Desde')]",
							"Fecha_Hasta": "[parameters('EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Fecha_Hasta')]",
							"Modulo": "[parameters('EX_DIARIO_INICIO_MES_properties_PIPELINE GENERAL_parameters_Modulo')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2024-09-16T13:03:00",
						"timeZone": "SA Pacific Standard Time",
						"schedule": {
							"minutes": [
								0,
								30
							],
							"hours": [
								6,
								7,
								8,
								9,
								10,
								11,
								12,
								13,
								14,
								15,
								16,
								17,
								18,
								19
							],
							"monthDays": [
								1,
								8,
								15,
								22,
								23,
								16,
								9,
								2,
								3,
								10,
								17,
								24,
								25,
								18,
								11,
								4,
								5,
								19,
								20,
								13,
								12,
								6,
								7,
								14,
								21
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PIPELINE GENERAL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MASIVA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"dataset": {
								"referenceName": "MASIVA",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "PIPELINE GENERAL",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIPELINE GENERAL_MANUAL_SIN_STOCK",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Fecha_Desde": {
												"value": "@item().FECHA_INI",
												"type": "Expression"
											},
											"Fecha_Hasta": {
												"value": "@item().FECHA_FIN",
												"type": "Expression"
											},
											"Modulo": "'FACT'"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PIPELINE GENERAL_MANUAL_SIN_STOCK')]"
			]
		}
	]
}