dfmitsui/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "dfmitsui"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"AzureBlobStorage1\""
		},
		"BD_MITSUI_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"BD_MITSUI\""
		},
		"SharePointOnlineList1_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"servicePrincipalKey\"de \"SharePointOnlineList1\""
		},
		"SharePointOnlineList1_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "87d4e0d5-3458-4110-a34e-e699775c7c07"
		},
		"XTRACT_SP_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://mitsuiautomotrizcom.sharepoint.com/sites/BI-MASA/_api/web/GetFileByServerRelativeUrl(''',linkedService().path,'/',linkedService().file,''')/$value')}"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BD_MITSUI')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('BD_MITSUI_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SharePointOnlineList1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SharePointOnlineList",
				"typeProperties": {
					"siteUrl": "https://mitsuiautomotrizcom.sharepoint.com/sites/BI-MASA",
					"tenantId": "c36ebfba-c87f-4847-b182-f9ee332466e6",
					"servicePrincipalId": "[parameters('SharePointOnlineList1_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('SharePointOnlineList1_servicePrincipalKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/XTRACT_SP')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"path": {
						"type": "string"
					},
					"file": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('XTRACT_SP_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HINO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "INT_ZDBM036",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_ZDBM036_HINO]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACT_STOCK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_STOCK_HINO]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_STOCK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACT_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_STOCK_HINO]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_FACTURAS_BOOKING_HINO]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACTURAS_BOOKING",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_FACTURAS_BOOKING_HINO]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FECHA_INI": {
						"type": "string"
					},
					"FECHA_FIN": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BD_MITSUI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HINO_SIN_STOCK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "INT_ZDBM036",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_ZDBM036_HINO]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACT_STOCK",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_STOCK_HINO]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_STOCK",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "INT_FACT_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_STOCK_HINO]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_FACTURAS_BOOKING_HINO]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACTURAS_BOOKING",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_FACTURAS_BOOKING_HINO]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FECHA_INI": {
						"type": "string"
					},
					"FECHA_FIN": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BD_MITSUI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LEXUS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "INT_ZDBM036_LEXUS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_ZDBM036_LEX]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACT_STOCK_SAP",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036_LEXUS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_STOCK_LEXUS_SAP]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_STOCK_SAP",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACT_STOCK_SAP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_STOCK_LEXUS_SAP]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036_LEXUS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_FACTURAS_BOOKING_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACTURAS_BOOKING",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_FACTURAS_BOOKING_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACT_STOCK_LEXUS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036_LEXUS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_STOCK_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_STOCK_LEXUS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACT_STOCK_LEXUS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_STOCK_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACT_STATUS_STOCK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036_LEXUS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_STATUS_STOCK_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_STATUS_STOCK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACT_STATUS_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_STATUS_STOCK_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FECHA_INI": {
						"type": "string"
					},
					"FECHA_FIN": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BD_MITSUI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LEXUS_SIN_STOCK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "INT_ZDBM036_LEXUS",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_ZDBM036_LEX]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACT_STOCK_SAP",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036_LEXUS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_STOCK_LEXUS_SAP]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_STOCK_SAP",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "INT_FACT_STOCK_SAP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_STOCK_LEXUS_SAP]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036_LEXUS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_FACTURAS_BOOKING_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACTURAS_BOOKING",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_FACTURAS_BOOKING_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACT_STOCK_LEXUS",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036_LEXUS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_STOCK_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_STOCK_LEXUS",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "INT_FACT_STOCK_LEXUS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_STOCK_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACT_STATUS_STOCK",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036_LEXUS",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_STATUS_STOCK_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_STATUS_STOCK",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "INT_FACT_STATUS_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_STATUS_STOCK_LEXUS]",
							"storedProcedureParameters": {
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FECHA_INI": {
						"type": "string"
					},
					"FECHA_FIN": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BD_MITSUI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TOYOTA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DIM_VENDEDORES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_DIM_VENDEDORES]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_ZDBM036",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_ZDBM036]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_CADENA_VALOR",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DIM_VENDEDORES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_CADENA_VALOR]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_CADENA_VALOR",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_CADENA_VALOR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_CADENA_VALOR]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACT_STOCK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DIM_VENDEDORES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_STOCK]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_STOCK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACT_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_STOCK]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DIM_VENDEDORES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_FACTURAS_BOOKING]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACTURAS_BOOKING",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_FACTURAS_BOOKING]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FECHA_INI": {
						"type": "string"
					},
					"FECHA_FIN": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BD_MITSUI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TOYOTA_SIN_STOCK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DIM_VENDEDORES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_ZDBM036",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_DIM_VENDEDORES]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_ZDBM036",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_ZDBM036]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_CADENA_VALOR",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DIM_VENDEDORES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_CADENA_VALOR]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_CADENA_VALOR",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_CADENA_VALOR",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_CADENA_VALOR]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACT_STOCK",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "DIM_VENDEDORES",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_STOCK]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACT_STOCK",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "INT_FACT_STOCK",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_STOCK]",
							"storedProcedureParameters": {
								"FECHA": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DIM_VENDEDORES",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FACT_FACTURAS_BOOKING]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FACTURAS_BOOKING",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_FACTURAS_BOOKING",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_FACT_FACTURAS_BOOKING]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_INI",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_BOOKING": {
									"value": {
										"value": "@pipeline().parameters.FECHA_FIN",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FECHA_INI": {
						"type": "string"
					},
					"FECHA_FIN": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BD_MITSUI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRANSVERSALES')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DIM_MATERIALES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CARROCERIA_MODELO_CLASE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_DIM_MATERIALES]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_VLCINVOICE_STOCK",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FTE_COMPRA",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_INT_VLCINVOICE_STOCK]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_DESDE",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_HASTA",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PLANES ORIG_REV",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FTE_COMPRA",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_PLAN_ORIG_REV]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FTE_COMPRA",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "IG_ZTSTSTKTOY",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FTE_COMPRA]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.TIMESTAMP",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CARROCERIA_MODELO_CLASE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_VLCINVOICE_STOCK",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PLANES ORIG_REV",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_CARROCERIA_MODELO_CLASE]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IG_ZTSTSTKTOY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CARGA_UPDATE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_IG_ZTSTSTKTOY]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CARGA_UPDATE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_UPDATE]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FECHA_DESDE": {
						"type": "string"
					},
					"FECHA_HASTA": {
						"type": "string"
					},
					"TIMESTAMP": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BD_MITSUI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRANSVERSALES_SIN_STOCK')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DIM_MATERIALES",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "CARROCERIA_MODELO_CLASE",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_DIM_MATERIALES]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "INT_VLCINVOICE_STOCK",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "FTE_COMPRA",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_INT_VLCINVOICE_STOCK]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.FECHA_DESDE",
										"type": "Expression"
									},
									"type": "Datetime"
								},
								"FECHA_FIN": {
									"value": {
										"value": "@pipeline().parameters.FECHA_HASTA",
										"type": "Expression"
									},
									"type": "Datetime"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PLANES ORIG_REV",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "FTE_COMPRA",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[DWH].[CARGA_PLAN_ORIG_REV]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "FTE_COMPRA",
						"type": "SqlServerStoredProcedure",
						"state": "Inactive",
						"onInactiveMarkAs": "Succeeded",
						"dependsOn": [
							{
								"activity": "IG_ZTSTSTKTOY",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_INT_FTE_COMPRA]",
							"storedProcedureParameters": {
								"FECHA_INI": {
									"value": {
										"value": "@pipeline().parameters.TIMESTAMP",
										"type": "Expression"
									},
									"type": "Int64"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CARROCERIA_MODELO_CLASE",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "INT_VLCINVOICE_STOCK",
								"dependencyConditions": [
									"Completed"
								]
							},
							{
								"activity": "PLANES ORIG_REV",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_CARROCERIA_MODELO_CLASE]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "IG_ZTSTSTKTOY",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[STAGING].[CARGA_IG_ZTSTSTKTOY]"
						},
						"linkedServiceName": {
							"referenceName": "BD_MITSUI",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"FECHA_DESDE": {
						"type": "string"
					},
					"FECHA_HASTA": {
						"type": "string"
					},
					"TIMESTAMP": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/BD_MITSUI')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUX_METAS_TIPO_PAGO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Metas.xlsx",
						"folderPath": "Archivos Planos",
						"container": "dev"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Vendedor",
						"type": "String"
					},
					{
						"name": "Codigo",
						"type": "String"
					},
					{
						"name": "Sede",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUX_STATUS_STOCK_LEXUS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "status_stock.xlsx",
						"folderPath": "Archivos Planos",
						"container": "dev"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Vendedor",
						"type": "String"
					},
					{
						"name": "Codigo",
						"type": "String"
					},
					{
						"name": "Sede",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AUX_STOCK_LEXUS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"File": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().File",
							"type": "Expression"
						},
						"folderPath": "Archivos Planos/Stock_Proyeccion",
						"container": "dev"
					},
					"sheetIndex": 0,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Vendedor",
						"type": "String"
					},
					{
						"name": "Codigo",
						"type": "String"
					},
					{
						"name": "Sede",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Binary1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "XTRACT_SP",
					"type": "LinkedServiceReference",
					"parameters": {
						"path": {
							"value": "@dataset().ruta",
							"type": "Expression"
						},
						"file": {
							"value": "@dataset().archivo",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"ruta": {
						"type": "string"
					},
					"archivo": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/XTRACT_SP')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAD_VAL_EPDP')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Cadena de Valor.xlsx",
						"folderPath": "Archivos Planos",
						"container": "dev"
					},
					"sheetIndex": 4,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Vendedor",
						"type": "String"
					},
					{
						"name": "Codigo",
						"type": "String"
					},
					{
						"name": "Sede",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAD_VAL_MET_TOYOTA_LIFE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Cadena de Valor.xlsx",
						"folderPath": "Archivos Planos",
						"container": "dev"
					},
					"sheetIndex": 2,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Vendedor",
						"type": "String"
					},
					{
						"name": "Codigo",
						"type": "String"
					},
					{
						"name": "Sede",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAD_VAL_SEGUROS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Seguros",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Cadena de Valor.xlsx",
						"folderPath": "Archivos Planos",
						"container": "dev"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Vendedor",
						"type": "String"
					},
					{
						"name": "Codigo",
						"type": "String"
					},
					{
						"name": "Sede",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CAD_VAL_TOYOTA_LIFE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Cadena de Valor.xlsx",
						"folderPath": "Archivos Planos",
						"container": "dev"
					},
					"sheetIndex": 1,
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Vendedor",
						"type": "String"
					},
					{
						"name": "Codigo",
						"type": "String"
					},
					{
						"name": "Sede",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		}
	]
}